{{> header}}
{{> navigation}}
        <div class="content">
            <div class="chirper">

                <h2 class="titlebar">{{username}}</h2>

                <form id="formSubmitChirpMy" class="chirp-form" action="#/create" method="post">
                    <textarea name="text" class="chirp-input"></textarea>
                    <input class="chirp-submit" id="btnSubmitChirpMy" value="Chirp" type="submit">
                </form>

                <div id="myStats" class="user-details">
                    <span>{{myChirps}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
                </div>
            </div>
           <div id="chirps" class="chirps"><h2 class="titlebar">Chirps</h2>
                {{#each chirps}}
                    {{> chirp}}
                    {{else}}
                      <p>No chirps in database.</p>
                {{/each}}
            </div>
        </div>
    {{> footer}}